/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

ul {
  padding-left: 0px;
  list-style: none;
}

.messages-list {
  height: 74vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.message-sent {
  position: relative;
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  margin: 5px 20px;
  padding: 10px;
  float: right;
}

.message-received {
  background-color: #F1F0F0;
  border-color: #EEEEEE;
  margin: 5px 20px;
  padding: 10px;
  float: left;
}
.image{
  margin-top: 150px;
  margin-left: 30px
}
.text{
  margin-top: 150px;
  margin-right: 75px;
  inline-size: max-content;
}

.btn-danger{
  margin-right: 20px;
  margin-top: 10px;
}
.btn-success{
  margin: 10px;
}
.panel-heading{
  font-weight: bold;
  font-size: 20px;
}

.new_message{
  width: 80%;
  display: -webkit-inline-box;
}